body {
  outline: 0;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: url("../public/bg.jpeg");
  object-fit: cover;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}